@tailwind base;
@tailwind components;
@tailwind utilities;

img.emoji {
    @apply inline w-4 h-4 mx-[0.1rem];
}

:root {
    @apply font-sans text-base font-normal text-neutral-200 bg-neutral-800;
}

a {
    @apply font-medium text-blue-500 decoration-inherit
}

a:hover {
    @apply text-blue-600
}

b {
    @apply font-semibold;
}

h1 {
    @apply text-5xl;
}

h2 {
    @apply text-4xl;
}

h3 {
    @apply text-3xl;
}

button {
    @apply py-3 px-5 bg-neutral-900 rounded-lg font-medium cursor-pointer transition;
}

button:hover {
    @apply shadow-[0_0_15px_-5px_white];
}

button:active {
    @apply shadow-[0_0_15px_0_white];
}

code {
    @apply font-mono text-base rounded-md bg-neutral-700 px-1 py-0.5;
}

code::selection {
    @apply bg-neutral-600;
}

::selection {
    @apply bg-neutral-700;
}